h2 {
  font-size: 20px;
  color: #e97171;
  margin-bottom: 35px;
  text-align: center;
}

p {
  font-size: 15px;
  color: #8675a9;
  margin-bottom: 40px;
  margin-top: 45px;
  text-align: center;
}

.Temp {
  font-size: 20px;
  color: #8675a9;
  text-align: center;
}
